@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#accueil.hidden, #nina.hidden, #jep.hidden, #défaite.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../img/écran accueil.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: brown;
  border-radius: 50px;
  padding: 20px;
}
.accueil .form input[type=text] {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
}
.accueil .character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}
.accueil .character .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.accueil .character .image-wrapper button {
  border: none;
  background-color: transparent;
  margin: 10px;
  border-radius: 50%;
}
.accueil .character .image-wrapper button:hover {
  border: 3px solid #ffbf47;
}
.accueil .character .image-wrapper button:focus {
  outline: none;
  border: 3px solid #ffbf47;
}
.accueil .character .image-wrapper button:active {
  border: 3px solid #ffbf47;
}
.accueil .character .image-wrapper button img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.accueil .character .image-wrapper button img:hover {
  transform: scale(1.05);
}
.accueil .character .image-wrapper button img:focus {
  transform: scale(1.05);
}
.accueil .character .image-wrapper button img:active {
  transform: scale(1.05);
}
.accueil .action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.accueil .bouton {
  display: inline-block;
  background-color: rgb(23, 201, 23);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.accueil .bouton:hover {
  transform: scale(1.05);
}

.nina {
  height: 100vh;
  display: flex;
  background-image: url("../img/nautilus.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nina .container {
  display: flex;
  align-items: center;
  justify-content: center; /* Espacement entre les deux groupes d'éléments */
}
.nina .picture {
  padding: 100px;
}
.nina .picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.nina .nina-img {
  animation-name: tilt-shaking;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nina .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.nina .icons button {
  margin-bottom: 20px;
}
.nina .icons button img {
  width: 60px;
  height: 60px;
}
.nina .color_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.nina .color_bar span {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50px;
  margin-bottom: 35px;
  margin-top: 11px;
  border: 5px solid black;
}
.nina .color_bar .red {
  background-color: red; /* Barre de couleur rouge */
}
.nina .color_bar .orange {
  background-color: orange; /* Barre de couleur orange */
}
.nina .color_bar .green {
  background-color: green; /* Barre de couleur verte */
}

.jep {
  height: 100vh;
  display: flex;
  background-image: url("../img/nautilus.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.jep .container {
  display: flex;
  align-items: center;
  justify-content: center; /* Espacement entre les deux groupes d'éléments */
}
.jep .picture {
  padding: 100px;
}
.jep .picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.jep .jep-img {
  animation-name: tilt-shaking;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.jep .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.jep .icons button {
  margin-bottom: 20px;
}
.jep .icons button img {
  width: 60px;
  height: 60px;
}
.jep .color_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.jep .color_bar span {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50px;
  margin-bottom: 35px;
  margin-top: 11px;
  border: 5px solid black;
}
.jep .color_bar .red {
  background-color: red; /* Barre de couleur rouge */
}
.jep .color_bar .orange {
  background-color: orange; /* Barre de couleur orange */
}
.jep .color_bar .blue {
  background-color: deepskyblue; /* Barre de couleur verte */
}

.defeat {
  height: 100vh;
  background-image: url("../img/défaite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.defeat .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.defeat .text {
  padding: 30px;
  max-width: 500px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.defeat .text p {
  padding: 50px;
  font-size: 25px;
  color: black;
  background-color: darkgrey;
}
.defeat .new_game button {
  display: inline-block;
  background-color: rgb(23, 201, 23);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.defeat .new_game button:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
